api = "0.4"

[buildpack]
  id = "paketo-community/rust-dist"
  name = "Rust Distribution Buildpack"
  homepage = "https://github.com/paketo-community/rust-dist"

[[stacks]]
  id = "io.paketo.stacks.tiny"

[[stacks]]
  id = "io.buildpacks.stacks.bionic"

[[stacks]]
  id = "org.cloudfoundry.stacks.cflinuxfs3"

[metadata]
  include-files = ["bin/build", "bin/detect", "buildpack.toml"]
  pre-package = "./scripts/build.sh"

  # from https://forge.rust-lang.org/infra/other-installation-methods.html#standalone
  [[metadata.dependencies]]
    id = "rust"
    name = "Rust Binaries"
    version = "1.50.0"
    uri = "http://192.168.1.71:8000/rust.tgz"
    sha256 = "b9625da7b43c3e385e2cf8bc704deba8ed4366fffb9ac383304637d669e5b52b"
    source = "https://static.rust-lang.org/dist/rustc-1.50.0-src.tar.gz"
    source_256 = "95978f8d02bb6175ae3238930baf03563c240aedf9a70bebdc3eaa2a8c3c5a5e"
    stacks = ["io.paketo.stacks.tiny", "io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]

  # [[metadata.dependencies]]
  #   id = "rust"
  #   name = "Rust Standalone Installer"
  #   version = "1.49.0"
  #   uri = "https://static.rust-lang.org/dist/rust-1.49.0-x86_64-unknown-linux-gnu.tar.gz"
  #   sha256 = "8b14446df82f3707d69cf58fed92f18e0bff91621c62baf89288ef70e3e92981"
  #   source = "https://static.rust-lang.org/dist/rustc-1.49.0-src.tar.gz"
  #   source_256 = "b50aefa8df1fdfc9bccafdbf37aee611c8dfe81bf5648d5f43699c50289dc779"
  #   stacks = ["io.paketo.stacks.tiny", "io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]

